@model Personalsystem.Models.VM.EventVM

@{
    ViewBag.Title = "Events";
}



@{var loopcount = 0;}

@using (Html.BeginForm())
{ 
<div class="row topmenu">
    <div class="col-xs-2">
        @Html.ActionLink("Last week", "Index", "Schedule", new { setWeek = Model.week - 1 }, null)
    </div>
    <div class="col-xs-8">
        @if (User.IsInRole("Admin") || User.IsInRole("Executive"))
        {
            <nav>
                <ul class="nav nav-pills">
                    <li>
                        @Html.ActionLink("Create event", "Create", "Schedule")
                    </li>
                </ul>
            </nav>
        }
    </div>
    <div class="col-xs-2">
        @Html.ActionLink("Next week", "Index", "Schedule", new { setWeek = Model.week + 1 }, null)
    </div>
</div>
}

<div class="row" ng-controller="scheduleController">
    <div class="col-xs-12 scheduleContainer">
        <div class="row weekdayCol"> 
            <div class="col-xs-1">
                <div class="weekdayContainer" id="monday">
                    <h3>Mon</h3>
                    @foreach (var item in Model.eventList)
                    {

                        if (Model.e.DayFinder(item.Time) == 1)
                        {
                            loopcount++;
                            <div class="hourSlot" ng-click="hourSlotToggle(@loopcount)">@item.Title</div>
                            <div class="hourSlot description" ng-if="displayByInt == @loopcount" ng-animate=" 'animate' ">@item.Content</div>

                        }

                    }

                </div>
            </div>
            <div class="col-xs-1">
                <div class="weekdayContainer" id="tuesday">
                    <h3>Tue</h3>

                    @foreach (var item in Model.eventList)
                    {

                        if (Model.e.DayFinder(item.Time) == 2)
                        {
                            loopcount++;
                            <div class="hourSlot" ng-click="hourSlotToggle(@loopcount)">@item.Title</div>
                            <div class="hourSlot description" ng-if="displayByInt == @loopcount" ng-animate=" 'animate' ">@item.Content</div>

                        }

                    }

                </div>
            </div>
            <div class="col-xs-1">
                <div class="weekdayContainer" id="wednesday">
                    <h3>Wed</h3>

                    @foreach (var item in Model.eventList)
                    {

                        if (Model.e.DayFinder(item.Time) == 3)
                        {
                            loopcount++;
                            <div class="hourSlot" ng-click="hourSlotToggle(@loopcount)">@item.Title</div>
                            <div class="hourSlot description" ng-if="displayByInt == @loopcount" ng-animate=" 'animate' ">@item.Content</div>

                        }

                    }

                </div>
            </div>
            <div class="col-xs-1">
                <div class="weekdayContainer" id="thursday">
                    <h3>Thu</h3>

                    @foreach (var item in Model.eventList)
                    {

                        if (Model.e.DayFinder(item.Time) == 4)
                        {
                            loopcount++;
                            <div class="hourSlot" ng-click="hourSlotToggle(@loopcount)">@item.Title</div>
                            <div class="hourSlot description" ng-if="displayByInt == @loopcount" ng-animate=" 'animate' ">@item.Content</div>

                        }

                    }

                </div>
            </div>
            <div class="col-xs-1">
                <div class="weekdayContainer" id="friday">
                    <h3>Fri</h3>

                   @foreach (var item in Model.eventList)
                   {

                       if (Model.e.DayFinder(item.Time) == 5)
                       {
                           loopcount++;
                            <div class="hourSlot" ng-click="hourSlotToggle(@loopcount)">@item.Title</div>
                            <div class="hourSlot description" ng-if="displayByInt == @loopcount" ng-animate=" 'animate' ">@item.Content</div>

                        }

                    }

                </div>
            </div>
            <div class="col-xs-1">
                <div class="weekdayContainer weekend" id="saturday">
                    <h3>Sat</h3>

                    @foreach (var item in Model.eventList)
                    {

                        if (Model.e.DayFinder(item.Time) == 6)
                        {
                            loopcount++;
                            <div class="hourSlot" ng-click="hourSlotToggle(@loopcount)">@item.Title</div>
                            <div class="hourSlot description" ng-if="displayByInt == @loopcount" ng-animate=" 'animate' ">@item.Content</div>

                        }

                    }

                </div>
            </div>
            <div class="col-xs-1">
                <div class="weekdayContainer weekend" id="sunday">
                    <h3>Sun</h3>

                    @foreach (var item in Model.eventList)
                    {

                        if (Model.e.DayFinder(item.Time) == 7)
                        {
                            loopcount++;
                            <div class="hourSlot" ng-click="hourSlotToggle(@loopcount)">@item.Title</div>
                            <div class="hourSlot description" ng-if="displayByInt == @loopcount" ng-animate=" 'animate' ">@item.Content</div>

                        }

                    }

                </div>
            </div>
        </div>
    </div>
</div>

