@model Personalsystem.Models.VM.PrivateMessageVM

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Compose", "PM", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PrivateMessage</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" ng-controller="PMController">
            @Html.LabelFor(model => model.UserName, "Receiver", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", ng_model = "searchUser", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                <div style="position:relative;">
                    <div ng-repeat="item in filtered = (users | filter:searchUser)" ng-if="filtered.length <= 11"
                         ng-hide="item.UserName == searchUser || !searchUser"
                         class="list-group-item" ng-click="SearchFill(item.UserName)"
                         ng-style="{'top': 40*$index+'px'}"
                         style=" min-width:280px; max-width:280px; margin-left:2%; display:block; position:absolute; z-index:2; ">
                        {{item.UserName}}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PM.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PM.Title, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.PM.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PM.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PM.Content, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.PM.Content, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
