@model Personalsystem.Models.Company

@{
    ViewBag.Title = "Details";
}


<div class="col-md-12">

    <div class="row contentrow">
        <div class="col-sm-4">
            <div class="contentdiv">

            </div>
        </div>
        <div class="col-sm-4">
            <div class="contentdiv">

            </div>
        </div>
        <div class="col-sm-4">
            <div class="contentdiv">

            </div>
        </div>
    </div>

    @if (User.IsInRole("Admin") || User.IsInRole("Executive"))
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
        <p>
            @Html.ActionLink("Edit Company", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Career opportunities", "Index", "Vacancy", new { cId = Model.Id }, null)
        </p>

        <div class="col-md-12">
            <h4 class="col-md-6">Company Departments</h4>
            <h4 class="col-md-6">Department Groups</h4>
        </div>
        <table class=" col-md-6">
            @foreach (Personalsystem.Models.Department item in ViewBag.DepartmentList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(loopitem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(loopitem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit Department", "Edit", "Departments", new { id = item.Id }, null) |
                        @Html.ActionLink("Details", "Details", "Departments", new { id = item.Id }, null) |
                        @Html.ActionLink("Delete", "Delete", "Departments", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        </table>

        <table class="col-md-6">
            @foreach (Personalsystem.Models.Group item in ViewBag.GroupList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(loopitem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(loopitem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(loopitem => item.department.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit Group", "Edit", "Groups", new { id = item.Id }, null) |
                        @Html.ActionLink("Details", "Details", "Groups", new { id = item.Id }, null) |
                        @Html.ActionLink("Delete", "Delete", "Groups", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        </table>
        <div>
            <p class="col-md-12" style="display:inline-block;">
                @Html.ActionLink("Create New Department", "Create", "Departments", new { cId = Model.Id }, new { @class = "col-md-6" })
                @Html.ActionLink("Create New Group", "Create", "Groups", new { cId = Model.Id }, new { @class = "col-md-6" })
            </p>
            @*<p class="col-md-6" style="display:inline-block;">
                </p>*@
        </div>

    }
</div>